// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/////////
////WRAP/////
/////////
.wrap
{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 75px;
  padding-right: 75px;
  //width: 100%;
}

@media all and (max-width: 1170px)
{
  .wrap
  {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media all and (max-width: 980px)
{
  .wrap
  {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media all and (max-width: 768px)
{
  .wrap
  {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 480px)
{
  .wrap
  {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 320px)
{

}