// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer
{
	background: #381752;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 15px;
	font-size: 8pt;
}